{% extends "lajouts.html" %}
{% block body %}
        <h1>IP lookup</h1>
        {% if error %}
                <p class=error><strong>Error:</strong> {{ error }}
        {% endif %}
        <form method=post>
                <dl>
                        <dt>IP adrese:
                        <dd><input type=text name=AiPe value="{{ request.form.AiPe }}">
                </dl>
                <p><input type=submit value=Lookup>
        </form>
        <style>
                td{
                        border: 1px solid black;
                        padding: 4px;
                }
        </style>
        <h3>Rezultāts</h3>
        <table>
        <thead>
                <th>IP adrese</th>
                <th>ISP</th>
                <th>Valsts</th>
        </thead>
        <tr>
        {% for key, value in look.items() %}
                <td>{{ key }}</td>
                <td>{{ value['ISPI'] }}</td>
                <td>{{ value['country'] }}</td>
        </tr>
        {% endfor %}
        </tbody>
        </table> #}
{% endblock %}
