{% extends "lajouts.html" %}
{% block body %}
	{% if error %}
		<p class="text-danger"><strong>Error:</strong> {{ error }}
	{% endif %}
        <form method=post>
		<div class="col-auto mb-3">
                <dl>
                        <label>IP adrese:
                        <dd><input type=text placeholder="1.1.1.1" name=AiPe size="80" value="{{ request.form.AiPe }}">	
		</dl>
                <p><input class="btn bg-dark-subtle btn-outline-dark" type=submit value=Iesniegt>
		</div>
        </form>
	</br>
	<div class="container">
	<h3> Rezultāts </h3>
		<table class="table table-bordered table-hover border-dark">
		<thead>
			<th class="bg-dark-subtle">IP adrese</th>
			<th class="bg-dark-subtle">ISP</th>
			<th class="bg-dark-subtle">Valsts</th>
		</thead>
		{% for key, value in look.items() %}
			{% if "Atstarpe starp" in value['ISPI'] %}
				<tr class="table bg-warning border-dark">
					<td>{{ key }}</td>
					<td>{{ value['ISPI'] }}</td>
					<td>{{ value['country'] }}</td>
				</tr>
			{% elif "Nav informācijas" in value['ISPI'] %}
				<tr class="table bg-warning border-dark">
					<td>{{ key }}</td>
					<td>{{ value['ISPI'] }}</td>
					<td>{{ value['country'] }}</td>
				</tr>
			{% elif "Nav derīga" in value['ISPI'] %}
				<tr class="table bg-warning border-dark">
					<td>{{ key }}</td>
					<td>{{ value['ISPI'] }}</td>
					<td>{{ value['country'] }}</td>
				</tr>
			{% else %}
			<tr>
			<td>{{ key }}</td>
			<td>{{ value['ISPI'] }}</td>
			<td>{{ value['country'] }}</td>
			</tr>
			{% endif %}
		{% endfor %}
		</tbody>
		</table>
	</div>
{% endblock %}

