{% extends "lajouts.html" %}
{% block body %}
        <h1>Pārskats</h1>
        <p>Vai vēlaties izmantot <a href="{{ url_for('ipinsert') }}">whois?</a>
<table>
	<thead>
		<tr>
			<th>Krāsa</th>
			<th>Priekšmets</th>
		</tr>
	</thead>
	<tbody>
		{% for data in data %}
		<tr>
			<td>{{ data[0] }}</td>
			<td>{{ data[1] }}</td>
		</tr>
		{% endfor %}
</table>
<table>
	<thead>
		<tr>
			<th>Lietas ID numurs</th>
                        <th>Cena</th>
                        <th>Noliktavas status</th>
                </tr>
	</thead>
	<tbody>
		{% for data1 in data1 %}
		<tr>
			<td>{{ data1[0] }}</td>
			<td>{{ data1[1] }}</td>
			<td>{{ data1[2] }}</td>	
		</tr>
		{% endfor %}
	</tbody>
</table>
<table>
        <thead>
                <tr>
                        <th>Lietas ID numurs</th>
                        <th>Noliktavas ID numurs</th>
                        <th>test python variable</th>
                </tr>
        </thead>
        <tbody>
                {% for data2 in data2 %}
                <tr>
                        <td>{{ data2[0] }}</td>
                        <td>{{ data2[1] }}</td>
                        <td>{{ data2[2] }}</td>
                </tr>
                {% endfor %}
        </tbody>
</table>
{% endblock %}
