{% extends "lajouts.html" %}
{% block body %}
	<div class="container mt-5">
	{% if error and not clear_btn %}
		<p class="text-danger d-flex justify-content-center" style="font-size: 20px"><strong>Error:</strong> {{ error }}
	{% endif %}
        <form method=post id="formats">
        	<dl>
			<div class="form-floating mb-2" id="IP-input-f">
				<input class="form-control border-secondary" id="floatid" type=textarea placeholder="1.1.1.1, 2.2.2.2" name="AiPe" value="{{ request.form.AiPe }}">
				<label for="floatid">IP adrese</label>	
			</div>
			<div class="form-floating mb-2" id="domain-input-f" style="display:none">
				<input class="form-control border-secondary" id="labelid" type=textarea placeholder="piemers.lv" name=domain value="{{ request.form.domain }}">
				<label for="labelid">Domēnu nosaukums</label>
			</div>
			<div class="form-floating mb-2" id="hash-input-f" style="display:none">
                                <input class="form-control border-secondary" id="hashid" type=textarea placeholder="8743b52063cd84097a65d1633f5c74f5" name=hesh value="{{ request.form.hesh }}">
                                <label for="hashid">Jaucējvērtība</label>
                        </div>
		<button class="btn bg-dark-subtle border-secondary" type=submit><strong>Iesniegt</strong></button>
		<button class="btn bg-dark-subtle border-secondary" type=submit name="clear_btn" onclick="clearForm()"><strong>Dzēst</strong></button>
		</dl>
	<script>
		function clearForm() {
			document.getElementById("floatid").value="";
			document.getElementById("labelid").value="";
			document.getElementById("hashid").value="";
			document.getElementById("formats").submit();
			location.href = location.href;
		}
	</script>

	<div class="form-check form-check-inline">
		<input class="form-check-input" type="radio" name="Radioinput" id="Radioinput1" value="ip-lookup-v" {% if request.form.Radioinput=="ip-lookup-v" %} checked{% endif %}>
		<label class="form-check-label" for="Radioinput1">IP uzmeklēšana</label>
	</div>
	<div class="form-check form-check-inline">
		<input class="form-check-input" type="radio" name="Radioinput" id="Radioinput2" value="domain-lookup-v" {% if request.form.Radioinput == "domain-lookup-v" %}checked{% endif %}>
		<label class="form-check-label" for="Radioinput2">Domēna uzmeklēšana</label>
	</div>
        <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="Radioinput" id="Radioinput3" value="hash-lookup-v" disabled>
                <label class="form-check-label" for="Radioinput3">jaucējvērtību uzmeklēšana (WIP)</label>
        </div>
	</form>
	</div>
        <script>
                function radiooption() {
                        var ipinput = document.getElementById("IP-input-f");
                        var domaininput = document.getElementById("domain-input-f");
			var hashinput = document.getElementById("hash-input-f");

			var hashtable = document.getElementById("hash-id-table");
                        var iptable = document.getElementById("IP-id-table");
                        var domtable = document.getElementById("domain-id-table");

                        if(document.getElementById("Radioinput1").checked) {
                                ipinput.style.display="block";
                                domaininput.style.display="none";
				hashinput.style.display="none";
                                iptable.style.display="table";
                                domtable.style.display="none";
				hashtable.style.display="none";
                        }else if (document.getElementById("Radioinput2").checked) {
                                ipinput.style.display="none";
                                domaininput.style.display="block";
				hashinput.style.display="none"
                                iptable.style.display="none";
                                domtable.style.display="table";
				hashtable.style.display="none"
                        }else if (document.getElementById("Radioinput3").checked) {
                                ipinput.style.display="none";
                                domaininput.style.display="none";
                                hashinput.style.display="block"
                                iptable.style.display="none";
                                domtable.style.display="none";
                                hashtable.style.display="table"
                        }
                }
                document.getElementById("Radioinput1").addEventListener("change", radiooption);
                document.getElementById("Radioinput2").addEventListener("change", radiooption);
		document.getElementById("Radioinput3").addEventListener("change", radiooption);
		radiooption();
        </script>
	<div>
	</br>
	{% if look %}
	<div class="container">
	<h3> Rezultāts </h3>
		<table class="table table-bordered border-dark" id="IP-id-table">
		<thead>
			<th class="bg-dark-subtle">IP adrese</th>
			<th class="bg-dark-subtle" style="text-align:center">ISP</th>
			<th class="bg-dark-subtle" style="text-align:center">Valsts</th>
		</thead>
		<tbody>
		{% for value in look %}
			{% if "Atstarpe" in value[2] %}
				<tr class="table border-dark" style="background-color:rgb(247,221,161)">
					<td>{{ value[1] }}</td>
					<td style="text-align:center">{{ value[2] }}</td>
					<td style="text-align:center">{{ value[3] }}</td>
				</tr>
			{% elif "informācijas" in value[2] %}
				<tr class="table border-dark" style="background-color:rgb(247,221,161)">
					<td>{{ value[1] }}</td>
					<td style="text-align:center">{{ value[2] }}</td>
					<td style="text-align:center">{{ value[3] }}</td>
				</tr>
			{% elif "derīga" in value[2] %}
				<tr class="table border-dark" style="background-color:rgb(247,221,161)">
					<td>{{ value[1] }}</td>
					<td style="text-align:center">{{ value[2] }}</td>
					<td style="text-align:center">{{ value[3] }}</td>
				</tr>
			{% else %}
			<tr>
			<td>{{ value[1] }}</td>
			<td style="text-align:center">{{ value[2] }}</td>
			<td style="text-align:center">{{ value[3] }}</td>
			</tr>
			{% endif %}
		{% endfor %}
		</tbody>
		</table>
	</div>
	{% endif %}
	{% if dom_data %}
	<div class="container">
		<table class="table table-bordered border-dark" id="domain-id-table">
                <thead>
                        <th class="bg-dark-subtle">Domēnas nosaukums</th>
                        <th class="bg-dark-subtle" style="text-align:center">IP</th>
                        <th class="bg-dark-subtle" style="text-align:center">Virus Total</th>
                </thead>
		<tbody>
                {% for value in dom_data %}
                        {% if "Atstarpe" in value[2] %}
                                <tr class="table border-dark" style="background-color:rgb(247,221,161)">
                                        <td>{{ value[1] }}</td>
                                        <td style="text-align:center">{{ value[2] }}</td>
                                        <td style="text-align:center">{{ value[3] }}</td>
                                </tr>
                        {% elif "informācijas" in value[2] %}
                                <tr class="table border-dark" style="background-color:rgb(247,221,161)">
                                        <td>{{ value[1] }}</td>
                                        <td style="text-align:center">{{ value[2] }}</td>
                                        <td style="text-align:center">{{ value[3] }}</td>
                                </tr>
                        {% elif "derīga" in value[2] %}
                                <tr class="table border-dark" style="background-color:rgb(247,221,161)">
                                        <td>{{ value[1] }}</td>
                                        <td style="text-align:center">{{ value[2] }}</td>
                                        <td style="text-align:center">{{ value[3] }}</td>
                                </tr>
                        {% else %}
                        <tr>
                        <td>{{ value[1] }}</td>
                        <td style="text-align:center">{{ value[2] }}</td>
                        <td style="text-align:center">
				<a href="{{ value[3] }}" target="_blank">VT saite</a></td>
                        </tr>
                        {% endif %}
                {% endfor %}
                </tbody>
                </table>
	</div>
	{% endif %}
        {% if hash_data %}
        <div class="container">
                <table class="table table-bordered border-dark" id="hash-id-table">
                <thead>
                        <th class="bg-dark-subtle">Jaucējvērtība</th>
                        <th class="bg-dark-subtle" style="text-align:center">Drošība</th>
                        <th class="bg-dark-subtle" style="text-align:center">Virus Total</th>
                </thead>
                <tbody>
                {% for value in hash_data %}
                        {% if "Atstarpe" in value[2] %}
                                <tr class="table border-dark" style="background-color:rgb(247,221,161)">
                                        <td>{{ value[1] }}</td>
                                        <td style="text-align:center">{{ value[2] }}</td>
                                        <td style="text-align:center">{{ value[3] }}</td>
                                </tr>
                        {% elif "informācijas" in value[2] %}
                                <tr class="table border-dark" style="background-color:rgb(247,221,161)">
                                        <td>{{ value[1] }}</td>
                                        <td style="text-align:center">{{ value[2] }}</td>
                                        <td style="text-align:center">{{ value[3] }}</td>
                                </tr>
                        {% elif "derīga" in value[2] %}
                                <tr class="table border-dark" style="background-color:rgb(247,221,161)">
                                        <td>{{ value[1] }}</td>
                                        <td style="text-align:center">{{ value[2] }}</td>
                                        <td style="text-align:center">{{ value[3] }}</td>
                                </tr>
                        {% else %}
                        <tr>
                        <td>{{ value[1] }}</td>
                        <td style="text-align:center">{{ value[2] }}</td>
                        <td style="text-align:center">
                                <a href="{{ value[3] }}" target="_blank">VT saite</a></td>
                        </tr>
                        {% endif %}
                {% endfor %}
                </tbody>
                </table>
        </div>
        {% endif %}
{% endblock %}

