{% extends "lajouts.html" %}
{% block body %}
	<div class="container mt-5">
	{% if error %}
		<p class="text-danger d-flex justify-content-center" style="font-size: 20px"><strong>Error:</strong> {{ error }}
	{% endif %}
        <form method=post>
        	<dl>
			<div class="form-floating mb-2">
				<input class="form-control border-secondary" id="floatid" type=textarea placeholder="1.1.1.1, 2.2.2.2" name=AiPe value="{{ request.form.AiPe }}"></textarea>
				<label for="floatid">IP adrese</label>	
			</div>
		<button class="btn bg-dark-subtle border-secondary" type=submit><strong>Iesniegt</strong></button>
		</dl>
        </form>
	</div>
	</br>
	{% if look %}
	<div class="container">
	<h3> Rezultāts </h3>
		<table class="table table-bordered border-dark">
		<thead>
			<th class="bg-dark-subtle">IP adrese</th>
			<th class="bg-dark-subtle" style="text-align:center">ISP</th>
			<th class="bg-dark-subtle" style="text-align:center">Valsts</th>
		</thead>
		{% for value in look %}
			{% if "Atstarpe" in value[1] %}
				<tr class="table border-dark" style="background-color:rgb(247,221,161)">
					<td>{{ value[0] }}</td>
					<td style="text-align:center">{{ value[1] }}</td>
					<td style="text-align:center">{{ value[2] }}</td>
				</tr>
			{% elif "informācijas" in value[1] %}
				<tr class="table border-dark" style="background-color:rgb(247,221,161)">
					<td>{{ value[0] }}</td>
					<td style="text-align:center">{{ value[1] }}</td>
					<td style="text-align:center">{{ value[2] }}</td>
				</tr>
			{% elif "derīga" in value[1] %}
				<tr class="table border-dark" style="background-color:rgb(247,221,161)">
					<td>{{ value[0] }}</td>
					<td style="text-align:center">{{ value[1] }}</td>
					<td style="text-align:center">{{ value[2] }}</td>
				</tr>
			{% else %}
			<tr>
			<td>{{ value[1] }}</td>
			<td style="text-align:center">{{ value[2] }}</td>
			<td style="text-align:center">{{ value[3] }}</td>
			</tr>
			{% endif %}
		{% endfor %}
		</tbody>
		</table>
	</div>
	{% endif %}
{% endblock %}

